################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ElevatorModule/obj
/ElevatorModule/bin/Debug/net6.0
/CentralElevatorSystem/bin/Debug/net6.0
/CentralElevatorSystem/obj
/ElevatorSolution/bin/Debug/net6.0
/ElevatorSolution/obj
/ElevatorSolution/bin/Release/net6.0
